*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: #5a7184;
	--main-color: #00008B;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}

header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	transition: ease .40s;
}

.logo{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
	width: 300px;

}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--bg-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.navbar a:hover{
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}
#menu-icon{
	color: #00008B;
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 80px 18%;
}
.home{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/BG.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.home-text h1{
	font-size: var(--big-font);
	line-height: 1.2;
	color: var(--bg-color);
	font-family: 'Paytone One', sans-serif;
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.home-text p{
	color: #ffffffbf;
	font-size: 20px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 50px;
}
.home-btn{
	display: inline-block;
	font-size: 16px;
	padding: 15px 30px;
	background: #ffffffbf;
	color: var(--main-color);
	border-radius: 4px;
	transition: ease .40s;
}
.home-btn:hover{
	background: var(--bg-color);
	transform: scale(1.1);
}
.booknow{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 0px;
	color: var(--bg-color);
	width: 300px;
	padding: 0% 30%;
}
@media screen and (max-width: 500px) {
	.booknow img{
		flex: 100%;
		max-width: 100%;
	}
}

header.sticky{
	background: var(--bg-color);
	padding: 10px 18%;
	box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
}
.sticky .logo{
	color: #00008B;
}
.sticky .navbar a{
	color: #00008B;
} 

.text h2{
	font-size: var(--h2-font);
	line-height: 1.1;
}
.row-items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
	margin-top: 1rem;
}
.container-box{
	background: var(--bg-color);
	border: 1px solid #f0eded;
	padding: 50px 10px;
	border-radius: 4px;
	transition: all 1s ease 0s;
	cursor: pointer;
}
.container-img img{
	height: 85px;
	width: 85px;
	padding: 15px;
	background: var(--bg-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
	margin-bottom: 15px;
	cursor: pointer;
}
.container-box h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
	color: rgb(0, 0, 0);
}
.container-box p{
	font-size: 15px;
	color: var(--second-color);
}
.container-box:hover{
	box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
	border: 1px solid transparent;
	transform: translateY(-3px);
}
.title{
	text-align: center;
}
.title h2{
	font-size: var(--h2-font);
	line-height: 1.2;
}
/*About Us*/
.topcontent h3{
	font-weight: var(--p-font);
	line-height: 1.2;
	margin-left: 0.5cm;
}
@media screen and (max-width: 500px) {
	.topcontent h3{
		flex: 100%;
		font-size: 10px;
		margin-left: -0.02cm;
	}
}
.sidebar{
	margin-left: -0.2cm;
	margin-right: 1.2cm;
	margin-top: -0.5cm;
	margin-bottom: -0.07cm;
}
@media screen and (max-width: 500px) {
	.sidebar img{
		flex: 100%;
		max-width: 120%;
		margin-right: 10cm;
		margin-top: 0.7cm;
		margin-left: -5cm;
	}
}
.aboutUs {
	flex-wrap: wrap;
	margin-top: -4%;
}
@media screen and (max-width: 500px) {
	.aboutUs {
		margin-top: -25%;
	}
}
.sidebar {
	width: 25%;
	float: right;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 0% -5%;
}
/*-----*/

.package-content{
	/*display: grid;*/
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	grid-gap: 1rem;
	align-items: center;

	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.box {
	flex: 25%;
	max-width: 120%;
	padding: 0 4px;
}
@media screen and (max-width: 800px) {
	.package-content {
	  flex: 50%;
	  max-width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.package-content {
	  flex: 100%;
	  max-width: 100%;
	}
}

.thum{
	position: relative;
	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter;
	cursor: pointer;
}
.thum img{
	width: 105%;
	height: auto;
	margin-top: 8px;
	vertical-align: middle;
}
.thum h3{
	position: absolute;
	font-size: 2.5vw;
	font-weight: 600;
	text-align: right;
	color: #fff;
	top: 36px;
	right: 40px;
}
@media screen and (max-width: 500px) {
	.thum h3 {
		position: absolute;
		vertical-align: middle;
		top: 55px;
		left: 25px;
		font-size: 30px;
	}
}

.dest-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;

	width: 100%;
	overflow: auto;
}
.stars i{
	flex-wrap: wrap;
	color: var(--main-color);
	font-size: 20px;
}
@media screen and (max-width: 100px) {
	.stars i {
	  float: none;
	  display: block;
	}
}

.location h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}
.location p{
	font-size: 15px;
	color: var(--second-color);
}
.thum:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
}

/*Reviews*/

* {box-sizing:border-box}
.reviews {display: none}
img {vertical-align: middle;}

.review {
	flex-wrap: wrap;
	margin-top: -4%;
}
@media screen and (max-width: 500px) {
	.review {
		margin-top: -30%;
	}
}


.title h2{
	text-align: center;
	margin-bottom: 4%;
}

.slideshow-container {
	max-width: 50%;
	position: relative;
	margin: auto;
}
@media screen and (max-width: 500px) {
	header{
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: transparent;
		padding: 30px 18%;
		transition: ease .40s;
	}
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	margin-top: 1%;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}
  
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@media only screen and (max-width: 300px) {
	.prev, .next {font-size: 11px}
}


.col-content{
	position: relative;
}
.col-content img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 15px;
	filter: brightness(80%);
	transition: all .3s cubic-bezier(.495,.05,.55,.95);
	will-change: filter;
}
.col-content h5{
	position: absolute;
	font-size: 22px;
	font-weight: 500;
	color: var(--bg-color);
	left: 15px;
	bottom: 60px;
}
.col-content p{
	position: absolute;
	font-size: 15px;
	color: var(--bg-color);
	left: 15px;
	bottom: 30px;
	letter-spacing: 2px;
}
.col-content img:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
	cursor: pointer;
}

.sidebar img{
	margin-left: 15%;
}


#contact{
	background: var(--main-color);
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	padding: 20px 0;
}
.list{
	width: 25%;
}
.list h4{
	font-size: 21px;
	color: var(--bg-color);
	margin-bottom: 30px;
	position: relative;
}
.list h4::before{
	content: "";
	position: absolute;
	height: 2px;
	width: 60px;
	left: 0;
	bottom: -10px;
	background: var(--bg-color);
}
.list ul li:not(last-child) {
	margin-bottom: 16px;
}
.list ul li a{
	color: #ffffffbf;
	font-size: var(--p-font);
	display: block;
	transition: .3s;
}
.list ul li a:hover{
	color: var(--bg-color);
	transform: translateX(14px);
}
.list .social a{
	height: 40px;
	width: 40px;
	background: var(--bg-color);
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	border-radius: 15px;
	transition: .3s;
	margin-right: 10px;
}
.list .social a:hover{
	transform: scale(1.1);
}
.end-text{
	text-align: center;
	padding-top: 90px;
}
.end-text p{
	color: var(--bg-color);
	font-size: 14px;
	letter-spacing: 2px;
}

.top-sidebar {
	width: 25%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 0% -5%;
}


@media (max-width: 1400px){
	header{
		padding: 17px 3%;
		transition: .2s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .2s;
	}
	section{
		padding: 80px 3%;
		transition: .2s;
	}
	:root{
		--big-font: 4.5rem;
	  --h2-font: 2.3rem;
	  --p-font: 1rem;
	  transition: .2s;
	}
}

@media (max-width: 1040px){
	#menu-icon{
		display: block;
	}
	.stick #menu-icon{
		color: var(--bg-color);
	}
	.home{
		height: 88vh;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 270px;
		height: 120vh;
		background: #1067cc;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 150px 30px;
		transition: 0.5s all;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--bg-color);
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 12px;
	}
	.video {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
	}
}

@media (max-width: 575px){
	.list{
		width: 100%;
	}
	.newsletter form{
		width: 350px;
	}
	:root{
		--big-font: 3.8rem;
	  --h2-font: 1.8rem;
	  transition: .2s;
	}
	.text{
		text-align: center;
	}
	.home{
		height: 85vh;
		transition: .2s;
	}
	.video {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 75%;
	  height: 50%
	}
}

/* DUBAI */
.dubai{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/dubai/Dubai.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}

.dubai-text h2{
	font-size: 4.5rem;
	color: #091A3F;
	line-height: 1.1;
}

.container-icon{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
	/*border:1px solid #333;*/
}

.box{
	/*border:1px solid #333;*/
	background-color:#fff;
	width:449px;
	padding:1em;
}

.details{
	float: left;
	font-size: 14px;
	padding:0 4.3em;
	margin-top: -7.5%;
}

.inclusion i img{
	height: 40px;  
	width: 40px; 
	background-color: #091A3F;
	border-radius: 360%;
	text-align: center;
	vertical-align: middle;
	margin-left: 0.1cm;
	margin-top: 0.5cm;
}

.inclusion{
	display:flex;
	flex-direction: column;
	align-items:left;
}

.inclusion h4 {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
.packageDeets h2{
	color: #333;
}
.packageDeets h4{
	font-size: 15px;
	font-weight: var(--h2-font);
}
.packageDeets1{
	margin-left: 0.3cm;
}
.packageDeets1 h2{
	color: #333;
}
.packageDeets1 h4{
	font-size: 15px;
	font-weight: var(--h2-font);
}

/* BORACAY */
.boracay-may{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/boracay/boracay\ bg1.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.boracay-jan{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/boracay/boracay\ bg.jpg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.boracay-feb{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/boracay/boracay.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.boracay-march{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/boracay/boracay\ bg2.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.bora-text h2{
	font-size: 4.5rem;
	color: #091A3F;
	line-height: 1.1;
}
.bora-text h3{
	font-size: 1.7rem;
	color: #ffffff;
	line-height: 1.1;
}

/* ORDER NOW BUTTON */
.orderbtn button{
    position: fixed;
    text-decoration: none;
    border: none;
    list-style: none;
    padding: 15px 30px;
    color: #fff;
    background-color: #00008B;
    border-radius: 3px;
    border: 3px solid #ffff;
    font-family: 'Poppins';
    font-size: 15px;
    bottom: 40px;
    right: 70px;
    cursor: pointer;
    transition: 0.3s ease;
}
.orderbtn button:hover{
    color: #fff;
    background-color: #00008B;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}